#planets {
  display: none;
}

.results {
  display: none;
}

header {
  margin: 50px 0;
}

header p {
  font-size: 30px;
}

h1 {
  font-size: 70px;
}

#form {
  margin: 50px 0;
}

label {
  font-size: 20px;
}

img {
  padding: 30px;
}

#imgMercury {
  width: 150px;
  height: auto;
}
#imgVenus {
  width: 250px;
  height: auto;
}

#imgMars {
  width: 200px;
  height: auto;
}

#imgJupiter {
  width: 350px;
  height: auto;
}

body {
  background-color: salmon;
  margin-bottom: 200px;
}

h2 {
  margin-bottom: 15px;
}

#planets {
  text-align: center;
}

#planets p {
  font-size: 30px;
}

.galacticNumbers {
  font-size: 35px;
  color: lime;
}