/* Hidden Results ------------------------*/

#planets {
  display: none;
}

.results {
  display: none;
}

/* Header -------------------------------*/

header {
  margin: 50px 0;
  color: lightskyblue;
}

header p {
  font-size: 30px;
}

h1 {
  font-size: 90px;
  font-family: 'Chicle', cursive;
}

/* Form ---------------------------------*/

body {
  background-image: url(./../assets/images/universe.jpg);
  margin-bottom: 200px;
  color: lightcyan;
  font-family: 'Open Sans', sans-serif;
  padding: 30px;
}

#form {
  margin: 50px 0;
}

label {
  font-size: 40px;
  font-family: 'Chicle', cursive;
  padding-right: 10px;
}

.btn {
  background-color: lightskyblue;
}

.col-sm-3 {
  margin-bottom: 100px;
}

/* Images -------------------------------*/
img {
  padding: 30px;
}

#imgMercury {
  width: 150px;
  height: auto;
}
#imgVenus {
  width: 250px;
  height: auto;
}

#imgMars {
  width: 200px;
  height: auto;
}

#imgJupiter {
  width: 350px;
  height: auto;
}

/* Results ------------------------------*/

h2 {
  margin-bottom: 15px;
  font-family: 'Chicle', cursive;
}

#planets {
  text-align: center;
}

#planets p {
  font-size: 30px;
}

.galacticNumbers {
  font-family: 'Chicle', cursive;
  font-size: 50px;
  color:darkorange;
}